html {
    scroll-behavior: smooth;
}

body a {
    font-style: Arial !important;
}

nav {
    background-color: #244264;
}

nav a {
    font-size: 1.5em !important;
}

#navbar-buttons {
    text-align: right;
}

#profile {
    text-align: center;
}

#profile-img {
    height: 30vh;
    border-radius: 50%;
    border-color: white;
    border-width: 0.4em;
    border-style: solid;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.section {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0em;
    padding-bottom: 45px;
    min-height: 50vh;
}

.section:before {
    height: 70px;
    content: "";
    display:block;
}

.section h2 {
    text-align: center;
}

.section hr {
    background: rgb(180, 180, 180);
    height: 1px;
}

.alternate1 {
    background-color: rgb(235, 235, 235);
}

.alternate2 {
    background-color: white;
}

