---
import Layout from '../layouts/Layout.astro';
import ExperienceCard from "../components/ExperienceCard.astro"
import StravaProfile from "../components/StravaProfile.astro"
---
<Layout title="About | Jason Barrett">
    <main>

        <p>
            Diligent and conscientious software engineer with over 4 years experience working
            in global teams. Enthusiastic about writing maintainable and testable code to ensure
            high quality. Strong academic record with a 1st class degree in Computer Science,
            completing multiple internships during my time at university. In my spare time I
            run competitively with my local club and also enjoy cycling.
        </p>

        <br>

        <p>
            I've outlined by experience below, but I may not keep this website up-to-date so refer to my
            <a href="https://www.linkedin.com/in/jasonbarrett55/">LinkedIn profile</a> for the most up-to-date information...
        </p>

        <hr>

        <h2>Experience</h2>

        <ExperienceCard
            startDate={new Date(2023, 5)}
            institution="Jacobi"
            title="Software Engineer"
            >
            <ul>
                <li>
                    Currently working at Jacobi, building software to help investment firms with multi-asset
                    portfolio design and analytics.
                </li>
            </ul>
        </ExperienceCard>

        <ExperienceCard
            startDate={new Date(2020, 9)} endDate={new Date(2023, 3)}
            institution="Amazon"
            title="Software Development Engineer II"
            >
            <ul>
                <li>
                    Developing and maintaining high-scale services for orchestrating question-answering in Alexa. Primarily
                    using Java for EC2 & Fargate services.
                </li>
                <li>
                    Independently expanded coverage of a low-latency question-answering system (using OpenFST & Java) for
            answering spelling and calculation questions, reducing overall Alexa latency significantly across multiple
            locales. If you ask Alexa "what's 3 + 3", I helped to make that faster.
                </li>
            </ul>
        </ExperienceCard>

        <ExperienceCard
            startDate={new Date(2019, 6)} endDate={new Date(2019, 8)}
            institution="Amazon"
            title="Software Development Engineer Intern"
            >
            <ul>
                <li>
                    Developed a tool to automate query translation between database platforms within Amazon Alexa,
                    saving numerous man hours in the manual conversion and verification of hundreds of queries used
                    for internal analytics.
                </li>
                <li>
                    Technologies used: Java, AWS (Lambda, API Gateway, S3), JavaScript (NodeJS), JQuery, HTML, CSS, Bootstrap.
                </li>
            </ul>
        </ExperienceCard>


        <ExperienceCard
            startDate={new Date(2018, 6)} endDate={new Date(2018, 8)}
            institution="Mintel"
            title="Software Development Intern"
            >
            <ul>
                <li>
                    Built features on a customer-facing product and reusable scripts for my team to use
                </li>
                    Performed maintenance work and ensured quality with comprehensive tests
                <li>
                    Participated in scrum meetings; temporarily acted as scrum master
                </li>
                <li>
                    Collaborated with other teams in the technology department and directly communicated
                    with users of the software to identify problems and promptly fix them
                </li>
                <li>
                    Technologies used: Python/Django, Bash, JavaScript, XSLT
                </li>
            </ul>
        </ExperienceCard>

        <ExperienceCard
            startDate={new Date(2017, 6)} endDate={new Date(2017, 8)}
            institution="Body Rocket"
            title="Software Development Intern"
            >
            <ul>
                <li>
                    Applied validated physics-based algorithms to analyse the aerodynamic efficiency of a road cyclist
                </li>
                <li>
                    Independently accelerated development of software prototypes, adding to existing open source software
                </li>
                <li>
                    Technologies used: C#, C++, Qt
                </li>
            </ul>
        </ExperienceCard>

        <hr>

        <h2>Education</h2>

        <ExperienceCard
            startDate={new Date(2020, 9)} endDate={new Date(2023, 3)}
            institution="University of Southampton"
            title="MEng Computer Science (1st Class)"
            >
            <ul>
                <li>
                    Netcraft Prize for outstanding 3rd year results (top 10 in year)
                </li>
                <li>
                    Zepler Project Prize for an outstanding 3rd year project, evaluating state-of-the-art trust models
                    in highly dynamic multi-agent systems.
                </li>
                <li>
                    Supervised Programming 1 and Data Management lab sessions to help 1st year Computer Science students
                </li>
            </ul>
        </ExperienceCard>

        <hr>

        <h2>More about me...</h2>

        <br>

        Outside of work, I'm a keen runner. I train with the Oxford University Cross Country Club and enjoy racing
        distances from 5km to half marathons. At the time of writing, my 5km PB is 17:06 and my half-marathon PB is 76:55.
        Check out my recent Strava activities below!

        <StravaProfile></StravaProfile>
    </main>
</Layout>


<style>
    hr {
        margin: 3em 1em;
    }

    ul {
      /* if you want the standard bullets, use 'disc' instead of 'circle' */
      list-style: inside;
      list-style-position: inside;
    }
</style>
